<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{app.app.name}">Dream shop</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">
    <link rel="stylesheet" href="css/my_own.css">
</head>
<body>

<p th:insert="fragments :: navigationBar"></p>

<span th:if="${cart.isEmpty()}" th:text=" 'Your cart is empty'"></span>
<div class="container wrapper-my">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="'No'">Number</th>
            <th scope="col" th:text="#{product.title}">title</th>
            <th scope="col" th:text="#{product.category}">category</th>
            <th scope="col" th:text="#{product.price}">price</th>
            <th scope="col" th:text="#{product.quantity}">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod, Stat : ${cart}">
            <th scope="row" th:text="${Stat.count}"></th>
            <td th:text="${prod.key.getTitle()}"></td>
            <td th:text="${prod.key.productCategory?.getDescription()}"></td>
            <td th:text="${prod.key.getPrice()}"></td>
            <td th:text="${prod.value.toString()}"></td>
            <td>
                <a th:href="@{/removeItems/{id}(id=${prod.key.id}) }"
                type="button" class="btn btn-primary btn-sm"
                th:text="#{form.button.delete}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:if="${not cart.isEmpty()}" th:href="@{/order}"
       type="button" class="btn btn-primary btn-sm"
                th:text="#{button.buying}">
    </a>

    <a th:href="@{/}"
        type="button" class="btn btn-primary btn-sm"
                th:text="#{button.backToShop}">
    </a>
</div>
<p th:insert="fragments :: footer"></p>
<p th:insert="fragments :: scripts"></p>
</body>
</html>