<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <link href="/css/my_own.css" rel="stylesheet">
    <title th:text="#{app.app.name}">Welcome to r'shop</title>
</head>
<body>
<div th:replace="fragments :: navigationBar"></div>
<!--page content-->
<div class="container wrapper-my">
    <!--TODO customer's former shoppings list-->
    <h2>This is your shopping history</h2>

    <section th:each="order : ${usersOrders}">
        <p th:text="${order.getOrderDate()}">
        <ul>
            <li th:each="single : ${order.getOrderLines()}" th:text="${single.getProduct().title}"
        </ul>
        </p>
    </section>

</div>
</body>
</html>