<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <link href="/css/my_own.css" rel="stylesheet">


    <title th:text="#{app.app.name}">Welcome to r'shop</title>
</head>
<body>
<div th:replace="fragments :: navigationBar"></div>
<!--page content-->
<div class="container wrapper-my">

    <div class="row">
<h2>Edit product</h2>
<form th:action="@{/editProduct}" method="post" th:object="${editedProduct}">
    <input type="hidden" th:field="*{id}">
    Title: <input type="text" th:field="*{title}">
    Description: <input type="text" th:field="*{description}">
    Price: <input type="text" th:field="*{price}">
    Stock amount: <input type="text" th:field="*{stockAmount}">
    Product type: <select   th:field="*{productType}">
        <option th:each="type : ${T(pl.mojeprojekty.shop_v2.entity.ProductType).values()}"
        th:text="${type}" th:value="${type}"></option>
    </select>
    Product category: <select th:field="*{productCategory}">
        <option th:each="cat : ${categories}"
                th:text="${cat.id} +', ' + ${cat.description}"
                th:value="${cat.id}">
        </option>
    </select>
    <button type="submit" class="btn btn-primary btn-sm" value="Change">Small button</button>
<!--    <input type="submit" value="Change">-->
    <p th:insert="fragments::footer"></p>
    <p th:insert="fragments::scripts"></p>
</form>
    </div>
</div>
</body>
</html>