<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <link href="/css/my_own.css" rel="stylesheet">

    <title th:text="#{app.app.name}">Welcome to r'shop</title>
</head>
<body>
<div th:replace="fragments :: navigationBar"></div>
<!--page content-->
<div class="container wrapper-my">

    <div class="row">
<h2>Edit user</h2>
<form th:action="@{/edit-user-data/{id}(id = ${edited.getId()})}" method="post" th:object="${edited}">
   ID <input th:field="*{id}">
  NAME  <input th:field="*{name}">
  MAIL  <input th:field="*{email}">
  MAIL  <input th:field="*{password}">
  CITY  <input th:field="*{city}">
    <input type="submit" value="Change">
</form>
    </div>
</div>
<p th:insert="fragments::navigationBar"></p>
<p th:insert="fragments::scripts"></p>
</body>
</html>