<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <link href="/css/my_own.css" rel="stylesheet">


    <title th:text="#{app.app.name}">Welcome to r'shop</title>
</head>
<body>
<div th:replace="fragments :: navigationBar"></div>
<!--page content-->
<div class="container wrapper-my">

    <div class="row">
<h2>Edit product</h2>
<form th:action="@{/editProduct}" method="post" th:object="${editedProduct}">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
        <label for="productTitle" th:text="#{product.title}"></label>
        <input id="productTitle" class="form-control" type="text"
               th:field="*{title}" th:placeholder="#{product.title}"
               th:errorclass="is-invalid">
        <small class="invalid-feedback" th:text="#{product.hint.title}"></small>
    </div>
    <div class="form-group">
        <label for="prodDescr" th:text="#{product.description}"></label>
        <input id="prodDescr" cols="30" rows="4" maxlength="200"
               th:field="*{description}" th:placeholder="#{product.description}"
               th:errorclass="is-invalid">
        <small class="invalid-feedback" th:text="#{product.hint.description}"></small>
    </div>
    <div class="form-group">
        <label for="price" th:text="#{product.price}"></label>
        <input id="price" class="form-control" type="text"
               th:field="*{price}"
               th:placeholder="#{product.price}"
               th:errorclass="is-invalid">
        <small class="invalid-feedback" th:text="#{product.hint.price}"></small>
    </div>
    <label for="typeProduct" th:text="#{product.category}"></label>
    <select id="typeProduct" name="type" th:field="*{productType}">
        <option th:each="type : ${T(pl.mojeprojekty.shop_v2.entity.ProductType).values()}"
                th:text="${type}"
                th:value="${type}"></option>
    </select>
    <div class="form-group">
        <label for="stockAmount" th:text="#{app.stock.amount}"></label>
        <input type="text" id="stockAmount" class="form-control"
               th:field="*{stockAmount}"
               th:placeholder="#{product.strockAmount}"
               th:errorclass="is-invalid">
        <small class="invalid-feedback" th:text="#{product.hint.stockAmount}"></small>
    </div>
    Product category:
    <select th:field="*{productCategory}">
        <option th:each="c : ${categories}"
                th:text="${c.getDescription()}"
                th:value="${c.getId()}">
        </option>
    </select>
    <input type="submit" value="Add">
</form>
<!--    <input type="submit" value="Change">-->
    <p th:insert="fragments::footer"></p>
    <p th:insert="fragments::scripts"></p>

    </div>
</div>
</body>
</html>