<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Welcome to r'shop</title>
</head>
<body>


<!-- Navigation -->
<div th:fragment="navigationBar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <a class="navbar-brand" th:href="@{/welcome}" th:text="#{app.app.name}">Universal shop</a>&nbsp;&nbsp;
            <!--        cart button-->
            <a th:if="${#authorization.expression('isAuthenticated()')}" href="/cart"
               type="button" class="btn btn-primary btn-sm"
               th:text="#{app.cart}"> cart
            </a>&nbsp;&nbsp;
            <!--        cart buttn - end-->
            <!--        languages-->
            <a href="?lang=en_GB" th:text="#{language.english}">english</a>&nbsp;&nbsp;&nbsp;
            <a href="?lang=pl_PL" th:text="#{language.polish}">polski</a>&nbsp;&nbsp;&nbsp;
            <a href="?lang=de_DE" th:text="#{language.german}">deutsch</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <!--        languages end-->

            <div th:if="${#authorization.expression('isAuthenticated()')}" class="text-white">
                <span th:text="#{user.greeting(${@applicationUserDetailService.loggedUser()})}"></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li th:if="${not #authorization.expression('isAuthenticated()')}" class="nav-item active">
                        <a class="nav-link" th:href="@{/login}" th:text="#{app.login}">LogIn
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li th:if="${not #authorization.expression('isAuthenticated()')}" class="nav-item active">
                        <a class="nav-link" th:href="@{/register}" th:text="#{app.register}">register
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li th:if="${ #authorization.expression('isAuthenticated()')}" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="#{app.logout}">wyloguj</a>
                    </li>

                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/your-shopping}">Your shopping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="dropdown show" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" >
                        <a class="nav-link" href="#" id="dropdownMenuLink" data-toggle="dropdown" >
                            Admin site
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/categories}" th:text="#{nav.category}">category</a>
                            <a class="dropdown-item" th:href="@{/products-settings}" th:text="#{nav.product}">product settings</a>
                            <a class="dropdown-item" th:href="@{/userSettings}" th:text="#{nav.userSettings}">users settings</a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--navigation end-->

<!--scripts-->
<div th:fragment="scripts">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.14.6/dist/popper.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
</div>
<!--scripts end-->

<!--footer-->
<div th:fragment="footer" class="footerholder-own">
    <!--    <footer class="py-5 bg-dark footer-my">-->
    <footer class="py-2 bg-dark footer-my2 footer-own ">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
</div>
<!-- footer end-->


</body>
</html>