<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to r'shop</title>
</head>
<body>
<h2>Products</h2>
<table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Type</td>
        <td>Category</td>
        <td>Type</td>
        <td>Price</td>
        <td>Stock amount</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod : ${productsList}">
        <td th:text="${prod.title}"></td>
        <td th:text="${prod.description}"></td>
        <td th:text="${prod.productCategory?.description}"></td>
        <td th:text="${prod.productType}"></td>
        <td th:text="${prod.price}"></td>
        <td th:text="${prod.stockAmount}"></td>
        <td>
        <form th:action="@{/buy/{id}(id = ${prod.id})}">
            <button>Buy</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/cart">
    <button>Your cart</button>
</form>
</body>
</html>