<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Welcome to r'shop</title>
</head>
<body>
    <div th:replace="fragments :: navigationBar"></div>
<!--page content-->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Universal shop</h1>
            <div class="list-group">
                <a th:href="@{/byType/{type}(type='CHILDREN')}" class="list-group-item" th:text="${'Children'}">category 1 </a>
                <a th:href="@{/byType/{type}(type='MOTO')}" class="list-group-item" th:text="${'Moto'}">category 1 </a>
                <a th:href="@{/byType/{type}(type='BOOKS')}" class="list-group-item" th:text="${'Books'}">category 1 </a>
                <a th:href="@{/byType/{type}(type='SPORT')}" class="list-group-item" th:text="${'Sport'}">category 1 </a>

            </div>
        </div>
<!--/col-lg-3-->

        <div class="col-lg-9">
            <div id="carouselExampleIdnicators" class="carousel slide my-4" data-ride="carousel">



            </div>


        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Type</td>
                <td>Category</td>
                <td>Type</td>
                <td>Price</td>
                <td>Stock amount</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="prod : ${productsList}">
                    <td th:text="${prod.title}"></td>
                    <td th:text="${prod.description}"></td>
                    <td th:text="${prod.productCategory?.description}"></td>
                    <td th:text="${prod.productType}"></td>
                    <td th:text="${prod.price}"></td>
                    <td th:text="${prod.stockAmount}"></td>
                    <td th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/buy/{id}(id = ${prod.id})}">
                        <button>Buy</button>
                    </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <form th:if="${#authorization.expression('isAuthenticated()')}" action="/cart">
            <button>Your cart</button>
        </form>

        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <span th:text="'Chcesz wyjść?'"></span>
            <a th:href="@{/logout}" th:text="'Wyloguj'" >Logout</a>
        </div>

        <div th:if="${not #authorization.expression('isAuthenticated()')}">
            <span th:text="'Chcesz coś kupić'"></span>
            <a th:href="@{/login}" th:text="'Zaloguj się'" >Logout</a>
        </div>

        <div th:if="${@applicationUserDetailService.loggedUser() == null}">
            <p> You're not logged</p>
        </div>

        <div th:unless="${@applicationUserDetailService.loggedUser() != null}">
            <span th:text="${@applicationUserDetailService.loggedUser()}"></span>
        </div>


        <div th:text="${#authorization.expression('hasRole(''ADMIN'')')}">Admin</div>

        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <form th:action="@{/admin}">
            <button>Admin site</button>
        </form>
        </div>
<!--            /col-lg-9-->
        </div>
<!--        /.row-->
    </div>
<!--    container-->
</div>

        <div th:replace="fragments :: scripts">
        </div>
</body>
</html>
