<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{app.app.name}">Dream shop</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">
    <link rel="stylesheet" href="css/my_own.css">
</head>
<body>
<div th:insert="fragments :: navigationBar"></div>

<div class="container wrapper-my">
    <h2><span th:text="#{order.thisIsYourOrder}"></span></h2>
    <p th:text="#{order.userMail} + ' : ' + ${userFromDB.getEmail()}"></p>
    <p th:text="#{order.DateOfPurchase} + ':' + ${order.getOrderDate()}"></p>

    <div class="row">
    <table class="table table-striped" th:if="${order} != null">
        <thead>
        <tr>
            <th scope="col" th:text="#{product.title}">title</th>
            <th scope="col" th:text="#{product.category}">category</th>
            <th scope="col" th:text="#{product.price}">price</th>
            <th scope="col" th:text="#{product.quantity}">quantity</th>
            <th scope="col" th:text="#{order.TotalPrice}">Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ord : ${order.getOrderLines()}">
            <td scope="row" th:text="${ord.getProduct().getTitle()}"></td>
            <td scope="row" th:text="${ord.getProduct()?.getProductCategory()?.getDescription()}"></td>
            <td scope="row" th:text="${ord.getProduct().getPrice()}"></td>
            <td scope="row" th:text="${ord.getQuantity()}"></td>
            <td scope="row" th:text="${order.getTotalPrice()}"></td>

            <td th:text="${order?.getDeliveryAdress()?.getCountry()}"></td>
            <td th:text="${order?.getDeliveryAdress()?.getCity()}"></td>
            <td th:text="${order?.getDeliveryAdress()?.getStreet()}"></td>
            <td th:text="${order?.getDeliveryAdress()?.getZipCode()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
    ***********
    <div class="row">
        <span th:text="'Dane klienta'"></span>
        <table class="table table-striped" th:if="${order} != null">
            <thead>
            <tr>
                <th scope="col" th:text="#{form.name}">title</th>
                <th scope="col" th:text="#{order.userMail}">category</th>
                <th scope="col" th:text="#{form.deliver.address}">price</th>

            </tr>
            </thead>
            <tbody>
                <td th:text="${userFromDB.name}"></td>
                <td th:text="${userFromDB.email}"></td>
                <td th:text="${userFromDB.getShippingAddress()}"></td>
            </tbody>
        </table>
    </div>

    <form th:action="@{/}">
        <button th:text="#{button.backToShop}">Back to the store</button>

        <div th:insert="fragments :: footer"></div>
        <div th:insert="fragments :: scripts"></div>
    </form>
</div>

</body>
</html>