<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<h3>Create your account</h3>
<form th:action="@{/newUser}" method="post" th:object="${newUser}">
    Name <input th:field="*{name}">
    login/email <input th:field="*{email}">
    PASS <input th:field="*{password}">
    CITY <input th:field="*{city}">
   <br>Delivery ADDRESS: <br>
   Country <input th:field="*{shippingAddress.country}">
   City <input th:field="*{shippingAddress.city}" >
   Street <input th:field="*{shippingAddress.street}">
   Zip-Code <input th:field="*{shippingAddress.zipCode}">

    <br>Invoice ADDRESS: <br>
    Country <input th:field="*{shippingAddress.country}">
    City <input th:field="*{shippingAddress.city}">
    Street <input th:field="*{shippingAddress.street}">
    Zip-Code <input th:field="*{shippingAddress.zipCode}">
    <input type="reset" value="Clear data">
    <input type="submit" value="Add user">
</form>
</body>
</html>